
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title></title>
</head>
<body>
  <h2>{{title}}</h2>
  <h3>Employee</h3>
  <hr />
  <form [formGroup]="employeeForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>
    <div class="form-group row">
      <label class=" control-label col-md-12" for="Name">Name</label>
      <div class="col-md-4">
        <input class="form-control" type="text" formControlName="name" required>
      </div>
      <div *ngFor="let validation of employee_validation_messages.name">
        <span class="text-danger" *ngIf="employeeForm.get('name').hasError(validation.type) && (employeeForm.get('name').dirty || employeeForm.get('name').touched)">
          {{validation.message}}
        </span>
      </div>
    </div>
    <div class="form-group row">
      <label class=" control-label col-md-12" for="Email">Email</label>
      <div class="col-md-4">
        <input class="form-control" type="text" formControlName="email" >
      </div>
      <div *ngFor="let validation of employee_validation_messages.email">
        <span class="text-danger" *ngIf="employeeForm.get('email').hasError(validation.type) && (employeeForm.get('email').dirty || employeeForm.get('email').touched)">
          {{validation.message}}
        </span>
      </div>
    </div>
    <div class="form-group row">
      <label class=" control-label col-md-12" for="Phone">Phone</label>
      <div class="col-md-4">
        <input class="form-control" type="text" formControlName="email">
      </div>
      <div *ngFor="let validation of employee_validation_messages.phone">
        <span class="text-danger" *ngIf="employeeForm.get('phone').hasError(validation.type) && (employeeForm.get('phone').dirty || employeeForm.get('phone').touched)">
          {{validation.message}}
        </span>
      </div>
    </div>
    <!--<div formGroupName="matching_passwords" *ngIf="id==0">
      <div class="form-group row">
        <label class=" control-label col-md-12" for="password">Password</label>
        <div class="col-md-4">
          <input class="form-control" type="password" formControlName="password">
        </div>
        <div *ngFor="let validation of employee_validation_messages.password">
          <span class="text-danger" *ngIf="employeeForm.get('matching_passwords').get('password').hasError(validation.type) && (employeeForm.get('matching_passwords').get('password').dirty || employeeForm.get('matching_passwords').get('password').touched)">
            {{validation.message}}
          </span>
        </div>
      </div>
      <div class="form-group row">
        <label class=" control-label col-md-12" for="confirmPassword">Confirm Password</label>
        <div class="col-md-4">
          <input class="form-control" type="password" formControlName="confirmPassword">
        </div>
        <div *ngFor="let validation of employee_validation_messages.confirm_password">
          <span class="text-danger" *ngIf="(employeeForm.get('matching_passwords').get('confirmPassword').hasError(validation.type)|| employeeForm.get('matching_passwords').hasError(validation.type)) && (employeeForm.get('matching_passwords').get('confirmPassword').dirty || employeeForm.get('matching_passwords').get('confirmPassword').touched)">
            {{validation.message}}
          </span>
        </div>
      </div>
    </div>-->
    <div class="form-group row" *ngIf="id==0">
      <label class="control-label col-md-12" for="Gender">Password</label>
      <div class="col-md-4">
        <input type="password"
               id="password"
               class="form-control"
               formControlName="password">
      </div>
      <div *ngFor="let validation of employee_validation_messages.password">
        <span class="text-danger" *ngIf="employeeForm.get('password').hasError(validation.type) && (employeeForm.get('password').dirty || employeeForm.get('password').touched)">
          {{validation.message}}
        </span>
      </div>
    </div>
    <div class="form-group row" *ngIf="id==0">
      <label class="control-label col-md-12" for="Gender">Confirm Password</label>
      <div class="col-md-4">
        <input type="password"
               class="form-control"
               id="confirmPassword"
               formControlName="confirmPassword">
      </div>
      <div *ngFor="let validation of employee_validation_messages.confirm_password">
        <span class="text-danger" *ngIf="employeeForm.get('confirmPassword').hasError(validation.type) && (employeeForm.get('confirmPassword').dirty || employeeForm.get('confirmPassword').touched)">
          {{validation.message}}
        </span>
      </div>
    </div>
      <div class="form-group row">
        <label class="control-label col-md-12" for="Gender">Gender</label>
        <div class="col-md-4">
          <select class="form-control" data-val="true" formControlName="gender">
            <option value="">-- Select Gender --</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>
        <div *ngFor="let validation of employee_validation_messages.gender">
          <span class="text-danger" *ngIf="employeeForm.get('gender').hasError(validation.type) && (employeeForm.get('gender').dirty || employeeForm.get('gender').touched)">
            {{validation.message}}
          </span>
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-md-12" for="Department">Department</label>
        <div class="col-md-4">
          <input class="form-control" type="text" formControlName="department">
        </div>
        <div *ngFor="let validation of employee_validation_messages.department">
          <span class="text-danger" *ngIf="employeeForm.get('department').hasError(validation.type) && (employeeForm.get('department').dirty || employeeForm.get('department').touched)">
            {{validation.message}}
          </span>
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-md-12" for="City">City</label>
        <div class="col-md-4">
          <input class="form-control" type="text" formControlName="city" data-val="true">
        </div>
        <div *ngFor="let validation of employee_validation_messages.city">
          <span class="text-danger" *ngIf="employeeForm.get('city').hasError(validation.type) && (employeeForm.get('city').dirty || employeeForm.get('city').touched)">
            {{validation.message}}
          </span>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success">Save</button>
        <button class="btn btn-warning" (click)="cancel()">Cancel</button>
      </div>
</form>
</body>
</html>
