<h2>Employee List</h2>

<p>  <button class="btn-warning" [routerLink]="['/employee/add']">Create</button></p>
<!--<table class="table table-striped" *ngIf="empList">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Department</th>
      <th>City</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of empList">
      <td>{{emp.id}}</td>
      <td>{{emp.name}}</td>
      <td>{{emp.gender}}</td>
      <td>{{emp.department}}</td>
      <td>{{emp.city}}</td>
      <td>
        <a [routerLink]="['/employee/edit/', emp.id]">Edit</a> |
        <a [routerLink]="" (click)="delete(emp.id)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>-->
<!--<input type="text" class="form-control" id="filterName" name="filterName" (ngModelChange)="filter()"/>-->
<kendo-grid [data]="gridView"
            [pageSize]="gridState.take"
            [skip]="gridState.skip"
            [sort]="gridState.sort"
            [filter] ="gridState.filter"
            [filterable]="true"
            [pageable]="true"
            [sortable]="true"
            (dataStateChange)="onStateChange($event)"
            [height]="350">
  <kendo-grid-column field="name" title="Name" width="250"></kendo-grid-column>
  <kendo-grid-column field="email" title="Email" width="230"></kendo-grid-column>
  <kendo-grid-column field="city" title="City" width="130"></kendo-grid-column>
  <kendo-grid-column field="department" title="Department" width="130"></kendo-grid-column>
  <kendo-grid-column field="phone" title="Phone" width="80"></kendo-grid-column>
  <kendo-grid-column field="gender" title="Gender" width="80">  </kendo-grid-column>
  <kendo-grid-column field="id" title="Action" width="100" [sortable]="false" [filterable]="false">
    <ng-template kendoGridCellTemplate let-dataItem>
      <button class="btn-success" [routerLink]="['/employee/edit/', dataItem.id]">Edit</button>
      <button class="btn-success" [routerLink]="" (click)="delete(dataItem.id)">Remove</button>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>
